body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

.wd-fg-color-black {
    color: black;
}

.wd-fg-color-white{
    color: white;
}

.wd-fg-color-red{
    color: red;
}

.wd-fg-color-gray{
    color: gray;
}

.wd-bg-color-black {
    background-color: black;
}

.wd-bg-color-white{
    background-color: white;
}

.wd-bg-color-db {
    background-color: midnightblue;
}

.wd-bg-color-blue {
    background-color: blue;
}

.wd-bg-color-cadet-blue {
    background-color: cadetblue;
}

.wd-bg-color-medium-blue {
    background-color: mediumslateblue;
}

.wd-bg-color-light-blue {
    background-color: lightblue;
}

.wd-bg-color-gray {
    background-color: lightgray;
}

.wd-bg-color-cream {
    background-color: antiquewhite;
}

.wd-fg-color-db {
    color: midnightblue;
}

.wd-fg-color-blue {
    color: blue;
}

.wd-fg-color-cadet-blue {
    color: cadetblue;
}

.wd-fg-color-medium-blue {
    color: mediumslateblue;
}

.wd-fg-color-light-blue {
    color: lightblue;
}

.wd-fg-color-gray {
    color: lightgray;
}

.wd-fg-color-cream {
    color: antiquewhite;
}



