
.course-home-header{
    border-bottom: 1px solid lightgray;
    margin-left: 21px;
    padding-top: 15px;
    font-size: 1.10em;
    margin-right: 20px;
    color: red;
}

.breadcrumb .bars {
    font-size: 1.10em;
    margin-right: 20px;
}

.breadcrumb-item {
    font-size:0.9em;
}

.course-content {
    margin-top: 15px;
}



