.course-home-header{
    border-bottom: 1px solid lightgray;
    margin-left: 21px;
    padding-top: 15px;
    font-size: 1.10em;
    margin-right: 20px;
    color: red;
}

.breadcrumb .fa {
    font-size: 1.10em;
    margin-right: 20px;
}

.breadcrumb-item {
    font-size:0.9em;
}

.home-content {
    margin-top: 15px;
}

.home-content .wd-home-buttons {
    padding-bottom: 15px;
    margin-right: 15px;
    margin-left: 10px;
    border-bottom: 1px solid lightgray;
}

.home-content .wd-home-buttons .standard-bttn {
    padding:2px 5px 2px 5px;
    border: lightgray solid 1px;
    background-color: whitesmoke;
    color:dimgray;
    margin: 0 2px 0 2px;
    border-radius: 2px;
    font-size: 0.7em;
}

.sidebar-content{
    margin-top: 15px;
    margin-right: 15px;
    font-size: 0.85em;
}

.wd-home-buttons .btn-danger {
    padding:2px 5px 2px 5px;
    border: lightgray solid 1px;
    margin: 0 2px 0 2px;
    border-radius: 2px;
    font-size: 0.7em;
}

.wd-home-modules {
    padding:20px;
    font-size: 0.8em;
}

.wd-home-modules .list-group{
    border-radius: 0;
}

.wd-home-modules .module-content {
    border-left: green solid 4px;
    padding-left: 4px;
}

.wd-home-modules .fa {
    color: gray;
}

.wd-home-modules .module-title {
    padding-left: 8px;
    background-color: whitesmoke;
}

.wd-home-modules .fa-check-circle {
    color: green;
}

.wd-home-modules .module-link {
    color: red;
}

.wd-home-modules .fa-external-link-alt {
    color: red;
}

.wd-home-modules .fa-link {
    color:green;
}

.sidebar-content .side-std-button {
    padding:2px 5px 2px 5px;
    border: lightgray solid 1px;
    background-color: whitesmoke;
    color:dimgray;
    border-radius: 0;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 3px;
}

.sidebar-beginning {
    margin-bottom: 10px;
}

.comping-up {
    margin-top:10px;
    border: 0;
    border-radius:0;
}

.comping-up .list-group-item {
    border: white solid 0px;
}

.side-coming-up {
    padding:2px;
    text-align: left;
    font-weight: bold;
}

.coming-up .far .fa-calendar {
    color:green;
}

.side-cal-dates {
    padding-left:3px;
}

.wd-cal {
    color: gray;
    padding-left: 0;
    padding-right: 5px;
}

.meeting-name {
    font-size: 0.7em;
    color: red;
}



